@{
    ViewData["Title"] = "Get to Know Joel";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get to Know Joel</title>
</head>
<body>

    <header>
        <h1>Get to Know Joel</h1>
    </header>

    <section>
        <h2>Links</h2>
        <ul>
            <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a> (where he performs regularly)</li>
            <li><a href="https://baconsale.com/" target="_blank">Baconsale site</a></li>
        </ul>
    </section>

    <section>
        <h2>Photo</h2>
        <a href="https://baconsale.com/" target="_blank">
             href="https://baconsale.com/"><img src="~/baconsalekate.jpg" height="200px" /></><br /><br />
        </a>
    </section>

</body>
</html>
