@model SchmoekelMission6.Models.Movie

<form method="post">
    <label asp-for="Title">Title:</label>
    <input type="text" asp-for="Title" required>

    <br>
    
    <input type="hidden" asp-for="MovieId">

    <br>

    <label asp-for="CategoryId">Category:</label>
    <input type="text" asp-for="CategoryId" required>

    <select asp-for="CategoryId">
        <option value="">Select a category</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId"> @c.CategoryName</option>
        }
    </select>

    <br>

    <label asp-for="Director">Director:</label>
    <input type="text" asp-for="Director" required>

    <br>

    <label asp-for="Year">Release Year:</label>
    <input type="text" asp-for="Year" required>

    <br>

    <label asp-for="Rating">Rating:</label>
    <select asp-for="Rating" asp-items="Html.GetEnumSelectList<SchmoekelMission6.Models.MovieRatingEnum>()" required></select>

    <br>

    <label asp-for="Edited">Edited:</label>
    <select asp-for="Edited" asp-items="Html.GetEnumSelectList<SchmoekelMission6.Models.EditedEnum>()" required></select>

    <br>

    <label asp-for="LentTo">Lent To:</label>
    <input type="text" asp-for="LentTo">

    <br>

    <label asp-for="CopiedToPlex">Copied To Plex:</label>
    <input type="text" asp-for="CopiedToPlex" maxlength="25">

    <br>

    <button type="submit">Add Movie</button>
</form>
